logs
node_modules
dist
dist-ssr
*.local
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.log
__pycache__
db.sqlite3
*.pdf
.python-version
.env
.env.local
env/
.venv
env/
/site
.mypy_cache/
.DS_Store
initial_data.json
backend/resume_analyser/migrations/*.py
.gitignore.local
.gitignore
backend/resume_analyser/migrations/*.py
.dockerignore
docker-compose-prod.yml